/* definindo classes */
li {
    list-style:none;
    margin-left:5px;
    margin-bottom:5px;
    border:1px solid black;
    background-color:rgba(146, 169, 189, 0.5);
    width:50%;
    height:auto;
    display:flex;
    flex-direction:column;
    margin-top:10px;
    font-size:100%;
}

.esquerda {
    background-color:rgba(146, 169, 189, 0.5);
    width:50%;
    border-bottom-right-radius:20px;
    text-align:start;
}
.direita {
    border-bottom-left-radius:20px;
    float:right;
    text-align:end;
}
/* definindo css para o resto do código */
body{
    overflow:hidden;
    font-family: 'Source Sans Pro', sans-serif;
}

#main {
    border: 1px solid black;
    width:50%;
    height:auto;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:2%;
    padding-left:20px;
    padding-right:20px;
    background-color: #DDDDDD;
}
#main #formulario {
    margin-top:10px;
    background-color:white;
    border-radius:5px;
    display:flex;
    flex-direction:column;
}
#main #formulario .ajuste{
    margin-top:20px;
    padding-left:10px;
    padding-right:10px;
    margin-bottom:20px;
}
#main #formulario .ajuste label{
    text-transform:uppercase;
    font-weight:bold;
}
#main #formulario .ajuste input{
    width:100%;
    height:30px;
    border:2px solid black;
    border-radius:4px;
    outline:none; /* remove as bordar brancas */
    padding:3px;
}
#main #formulario .ajuste input:focus{
    background-color:#FAEEE7;
    outline:none; /* remove as bordar brancas */
    padding:3px;
}
#main #formulario .ajuste select{
    border:2px solid black;
    width:100%;
    height:30px;
    border-radius:4px;  
}
#main #formulario .ajuste select:focus{
    background-color:#FAEEE7;
}
#main #formulario button{
    margin-top:10px;
    border:1px solid black;
    width:95px;
    height:25px;
    border-radius:4px;
    background-color:#D3DEDC;
    box-shadow: 0 0 0.5em black;
}
#main #formulario button:active{
    background-color:#92A9BD;
}

#main #bate-papo {
    margin-top:20px;
    position:relative;
    width:100%;
}
#main #bate-papo #mensagens {
    background-color:#FCFFE7;
    width:100%;
    height:300px;
    overflow:hidden;
    overflow-y:scroll;
}
/* cria um css para a barra de scroll da div mensagens */
#main #bate-papo #mensagens::-webkit-scrollbar{
    background-color:#A0BCC2;
    width:5px;
}
/* cria um css para o scroll dentro da barra de scroll da div mensagens */
#main #bate-papo #mensagens::-webkit-scrollbar-thumb{
    width:5px;
    height:20%;
    background-color:#1C658C;
    border-radius:10px;
}
#main #bate-papo #enviarMensagem{
    margin-top:10px;
    margin-bottom:10px;
    display:flex;
    justify-content:space-between;
}
#main #bate-papo #enviarMensagem textarea{
    width:85%;
    height:30px;
    border-radius:4px;
    border:2px solid black;
    outline:none; /* remove as bordar brancas */
    padding:3px;
    resize: none; /* remove "risquinhos" do textarea */
}
#main #bate-papo #enviarMensagem textarea:focus{
    background-color:#FAEEE7;
    outline:none; /* remove as bordar brancas */
}
#main #bate-papo #enviarMensagem button{
    border:1px solid black;
    border-radius:4px;
    width:60px;
    height:30px;
    color:white;
    background-color:#4B7BE5;
}
#main #bate-papo #enviarMensagem button:active{
    background-color:#5534A5;
}

/* css das mensagens */
#main #bate-papo #mensagens #msgExibidas {
    padding-left:2px;
    list-style:none;
}
#main #bate-papo #mensagens #msgExibidas li h5{
    text-transform:uppercase;
}