main {
    border: 1px solid black;
    width:50%;
    height:90%;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:3%;
    padding-left:20px;
    padding-right:20px;
    background-color: #DDDDDD;
    text-align:center;
    font-family: 'Source Sans Pro', sans-serif;
}
body{
    overflow:hidden;
}
main #form{
    background-color:#066163;
    color:white;
    height:85%;
    margin-bottom:3%;
    margin-left:3%;
    margin-right:3%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align:start;   
}
main #form .ajuste{
    display:flex;
    flex-direction:column;
    margin-bottom:5%;
    margin-left:5%;
    margin-right:5%;
}
main #form .ajuste label{
    font-size:20px;
}
main #form .ajuste input{
    border:1px solid black;
    width:100%;
    height:30px;
    border-radius:4px;
    outline:none;
    padding-left:10px;  
}
main #form button{
    width:50%;
    height:25px;
    border-radius:4px;
    margin-left:25%;
    background-color:#398AB9;
    border:1px solid black;
    color:white;
}
main #form button:active{
    background-color:#1C658C;
}