body{
    overflow:hidden;
}

#main {
    border: 1px solid black;
    width:50%;
    height:50%;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:5%;
    padding-left:20px;
    padding-right:20px;
    background-color: #DDDDDD;
}

#main #formulario {
    margin-top:10px;
    background-color:white;
    border-radius:5px;
    display:flex;
    flex-direction:column;
}
#main #formulario .ajuste{
    margin-top:20px;
}
#main #formulario .ajuste label{
    text-transform:uppercase;
    font-weight:bold;
}
#main #formulario .ajuste input{
    width:100%;
    height:30px;
    border:2px solid black;
    border-radius:4px;
}
#main #formulario .ajuste input:focus{
    background-color: #3E497A !important;
    color:white;
}
#main #formulario button{
    margin-top:10px;
    border:1px solid black;
    width:95px;
    height:25px;
    border-radius:4px;
    background-color:#D3DEDC;
    box-shadow: 0 0 0.5em black;
}
#main #formulario button:active{
    background-color:#92A9BD;
}